<div class="box-product">
  <div class="product-top">
    <h3>
      <%- producto.nombreProd %>
    </h3>
    <button class="bottom-product">
      <a href="/<%- producto.id %> ">Comprar</a>
    </button>
  </div>
  <a href="/<%- producto.id %> ">
    <img src="<%- producto.imagenProd %> ">

  </a>
  <div class="btn-admin">
    <form method="POST"  action="/<%= producto.id %>?_method=DELETE" enctype="multipart/form-data">
      <input type="submit" value="Eliminar" name="delete">
    </form> 
    <form method="GET" action="/admin/editProd/<%= producto.id %>">
      <input type="submit" value="Editar" name="Editar">
    </form>
    
  </div>
  <p>
    <%- producto.descripcionProd %>
  </p>
</div>