<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>


    <body>
        <%- include('partials/header') %>

            <main>
                
                <div class="formRegister">
<<<<<<< HEAD
                    <form method="POST" action="/register" enctype="multipart/form-data">
=======
                    <form action="/admin/addUser" method="POST">
>>>>>>> eac9a07b83fdec8f2f07faec792050e6e3dc30b6
                        <div>
                            <h2>Registrarse</h2>

                        </div>
                        <div>
                            <label> Correo Electronico</label>
                        </div>
                        <div>
                            <input type="text" name="email" placeholder="anael@gmail.com" value="<%= locals.oldData ? oldData.email : null %>">
                        </div>
                        <% if (locals.errors && errors.email) { %>
                           <div class="danger">
                               <%= errors.email.msg %>
                           </div>
                        <% } %>  
                        <div>
                            <label> Usuario </label>
                        </div>
                        <div>
                            <input type="text" name="username" placeholder="Fulanito" minlength="7" maxlength="10" value="<%= locals.oldData ? oldData.username : null %>">
                        </div>
                        <% if (locals.errors && errors.username) { %>
                            <div class="danger">
                                <%= errors.username.msg %>
                            </div>
                         <% } %>  
                        <div>
                            <label> foto de perfil </label>
                        </div>
                        <div>
<<<<<<< HEAD
                            <input type="file" name="perfil">
=======
                            <input type="password" name="password" minlength="7" maxlength="10">
>>>>>>> eac9a07b83fdec8f2f07faec792050e6e3dc30b6
                        </div>
                        <div>
                            <label> Contraseña </label>
                        </div>
                        <div>
<<<<<<< HEAD
                            <input type="password" name="password" minlength="7" maxlength="10" value="<%= locals.oldData ? oldData.password : null %>">
=======
                            <input type="password" name="password" minlength="7" maxlength="10">
>>>>>>> eac9a07b83fdec8f2f07faec792050e6e3dc30b6
                        </div>
                        <% if (locals.errors && errors.password) { %>
                            <div class="danger">
                                <%= errors.password.msg %>
                            </div>
                         <% } %>  
                        <div>
                            <button type="reset"> Borrar</button>
                        </div>
                        <div>
                            <button type="submit"> Crear Usuario </button>
                        </div>
                        <div class="terminosLogin">
                            <a href="#"> Términos y Condiciones </a>
                            <a href="#"> - Volver al Sitio </a>
                        </div>
                    </form>
                </div>
            </main>
            <%- include('partials/footer') %>


    </body>

</html>